<div class="dashboard">
    <div class="nav">
        <input class="search sdashboard" type="search" name="search" id="search" placeholder="Seach...">
        <div class="profile">
            <img src="./images/image/cute-little-dog-isolated-yellow.jpg" alt="" srcset="">
            <h3>Rayan</h3>
        </div>
    </div>
    <div class="overview">
        <h1>Adminstator</h1>
        <button><a class="a" href="add_admin">Add admin</a></button>
    </div>
    <div class="boxs-product">
        <table>
            <thead></thead>
            <tr>
                <th>ناو</th>
                <th>رۆل</th>
                <th>رقم</th>
                <th>یمەیل</th>
                <th>رەشکردنەوە</th>
            </tr>
            <% products.forEach((product)=> { %>
                <tr>
                    <td>
                        <%= product.username %>
                    </td>
                    <td>
                        <%= product.roll %>
                    </td>
                    <td>
                        <%= product.number %>
                    </td>
                    <td>
                        <%= product.email %>
                    </td>
                    <th>
                        <a href="/api/user/delete/<%=product._id%>">رەشکردنەوە</a>
                    </th>
                </tr>
                <% }) %>
        </table>
    </div>
</div>