<div class="dashboard">
    <div class="nav">
        <input class="search sdashboard" type="search" name="search" id="search" placeholder="Seach...">
        <div class="profile">
            <img src="./images/image/cute-little-dog-isolated-yellow.jpg" alt="" srcset="">
            <h3>Rayan</h3>
        </div>
    </div>
    <div class="overview">
        <h1>Costumer</h1>
        <button><a href="/add_customers">زیادکردن</a></button>
    </div>
    <div class="boxs-product">
        <table>
            <thead></thead>
            <tr>
                <th>ناو</th>
                <th>رقم</th>
                <th>مبیعات</th>
                <th>شوین</th>
                <th>مشروع</th>
                <th>نوع شوقە</th>
                <th>نوع التواصل</th>
                <th>ئاست</th>
                <th>کات</th>
                <th>دەستکاری کردن</th>
            </tr>
            <% products.forEach((product)=> { %>
                <tr>
                    <td>
                        <%= product.username %>
                    </td>
                    <td>
                        <%= product.number %>
                    </td>
                    <td>
                        <%= product.clientname %>
                    </td>
                    <td>
                        <%= product.place %>
                    </td>
                    <td>
                        <%= product.project %>
                    </td>
                    <td>
                        <%= product.type %>
                    </td>
                    <td>
                        <%= product.call %>
                    </td>
                    <td>
                        <%= product.level %>
                    </td>
                    <td>
                        <%= product.date %>
                    </td>
                    <th><a href="/api/users/<%=product._id%>">edit</a></th>
                </tr>
                <% }) %>
        </table>
    </div>
</div>