<div class="dashboard">
    <div class="nav">
        <input class="search sdashboard" type="search" name="search" id="search" placeholder="Seach...">
        <div class="profile">
            <img src="./images/image/cute-little-dog-isolated-yellow.jpg" alt="" srcset="">
            <h3>Rayan</h3>
        </div>
    </div>
    <div class="overview">
        <h1>Doctors</h1>
        <button><a class="a" href="add_doc">Add Doctor</a></button>
    </div>
<div class="boxs-product">
    <table>
        <thead></thead>
        <tr>
            <th>id</th>
            <th>Image</th>
            <th>name</th>
            <th>gender</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <% products.forEach((product)=> { %>
            <tr>
                <td>
                    <%= product._id %>
                </td>
                <td><img class='smallimg' src="<%= product.image %>"></td>
                <td>
                    <%= product.english %>
                </td>
                <td>
                    <%= product.gender %>
                </td>
                <th><a href="/api/doc/get/<%=product._id%>">edit</a></th>
                <th>
                    <form action="/api/doc/delete/<%=product._id%>"><input type="submit" value="delete"></form>
                </th>
            </tr>
            <% }) %>
    </table>
</div>
</div>