<div class="dashboard">
    <form method="post" action="/api/brandupdate/<%= _id  %> " class="add Addanimal" enctype="multipart/form-data" method="post">
        <div class="line1">
            <input value="<%= english%>"type="text" name="english" id="english" placeholder="english" required>
            <input value="<%= sorani%>" type="text" name="sorani" id="kurdish" placeholder="kurdish" required>
            <input value="<%= arabic %>" type="text" name="arabic" id="arabic" placeholder="arabic" required>
            <input value="<%= turkish%>" type="text" name="turkish" id="turkish" placeholder="turkish" required>
            <input value="<%= badini%>" type="text" name="badini" id="badini" placeholder="badini" required>
            <input type="file" name="myFile" id="myFile" multiple required>
            <input type="submit" value="submit">
        </div>
</div>
</form>
</div>