<div class="dashboard">
    <div class="nav">
        <input class="search sdashboard" type="search" name="search" id="search" placeholder="Seach...">
        <div class="profile">
            <img src="./images/image/cute-little-dog-isolated-yellow.jpg" alt="" srcset="">
            <h3>Rayan</h3>
        </div>
    </div>
    <div class="overview">
        <h1>Fbrand</h1>
        <button><a class="a" href="add_Fbrand">Add brand</a></button>
    </div>
    <div class="boxs-product">
        <table>
            <thead></thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>Image</th>
                <th>edit</th>
                <th>delte</th>
            </tr>
            <% products.forEach((product)=> { %>
                <tr>
                    <td>
                        <%= product._id %>
                    </td>
                    <td><%= product.english %></td>
                    <td><img class='smallimg' src="<%= product.image %>"></td>
                    <th><a href="/api/brand/get/<%=product._id%>">edit</a></th>
                    <th>
                        <form  action="/api/brand/delete/<%=product._id%>"><input type="submit" value="delete"></form>
                    </th>
                </tr>
                <% }) %>
        </table>
    </div>
</div>